

  <section class="hero is-large is-info is-fullheight">
    <div class="container is-fluid mt-6 pt-6">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form class="box login-form">
            <div class="field">
              <h1 class="label is-size-5 fa fa-calendar">CalPro</h1>
              <h2 class="label is-size-4 has-text-centered 
              mb-4">Login</h2>
              <label class="label" for="email-login" >Email</label>
              <div class="control has-icons-left">
                <input type="email" placeholder="email" id="email-login" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <div class="field">
                <label class="label mt-2" "password-login">Password</label>
                <div class="control has-icons-left">
                  <input type="password" placeholder="password" id="password-login" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-key"></i>
                  </span>
                </div>
                <div class="form-group">
                  <button class="button is-link is-fullwidth mt-5">login</button>
                  <button class="button is-link mt-4 is-fullwidth"><a href="/signup">Sign Up</a></button>
                </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </section>

<script src="/js/login.js"></script>

