nav {
    display: flex;
    padding: .5%;
    background-color: rgb(40, 56, 71);
    color:white;
}

#eventButton,
#logout {
    margin-right: 10px;
    border-color: rgb(40, 56, 71);
}

#eventButton:hover,
#logout:hover {
    color: white;
    background-color: rgb(18, 26, 32);
}